<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monfichier</title>
</head>
<body>
    <h1>fichier <small>html</small></h1>

    <h2>formulaire</h2>
    <form method="post" action="/form">
        <input type="email" name="email" placeholder="Email"> <br>
        <input type="password" name="password" placeholder="mot de passe"><br>
        <button type="submit">connexion</button>
    </form>

    <h2>Voici mon image:</h2>
    <img src="/images/1.png" alt="" width="200px">
</body>
</html>